/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dis-light: #D8D9DB;
    --dis-dark: #BCBCBE;
    --dis-col_head: #D9817D;
    --dis-back-img: #95A8E3;
    --dis-cont: #FBDB9E;
    --dis-row: #CEC2AA;
    --dis-col_main: #8FE2AA;
    --dis-card: #85C0C6;
    --dis-white: #F9F9F9;
    --dis-foot: #4574FE;
}

section {
    min-height: 300px;
}

/* #endregion Common */

/* #region Header */

.debug_head{
    height: 75px;
    background-color: var(--dis-dark)
}
.container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
    
}


header {
    background-color: var(--dis-light);
}

.row {
    padding: 1rem 0;
    display: flex;
    height: 100%;
}

.col_head {
    background-color: var(--dis-col_head);
    height: 100%;
}

.lateral {
    width: calc(100% / 12 * 2);
}

.central {
    width: calc(100% / 12 * 8);
}
/* #endregion Header */

/* #region Head_img */

.head_img {
    background-color: var(--dis-back-img);
    height: 300px;
    width: 100%;
    padding: 2rem;
}

.principal {
    width: 50%;
    background-color: var(--dis-dark);
    height: 75%;
    margin: 0 auto;
}   

/* #endregion Head_img */

/* #region Main */

.white {
    background-color: var(--dis-white);
    padding-bottom: 2rem;
}

.light, .final_sec {
    background-color: var(--dis-light);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sect_cont {
    background-color: var(--dis-cont);
    height: 300px;
}

.sec_row {
    background-color: var(--dis-row);
    height: 80%;
}

.col_img, .col_text {
    background-color: var(--dis-col_main);
    padding: 1rem;
}

.col_img {
    width: calc(100% / 12 * 8);
}

.col_text {
    width: calc(100% / 12 * 4);
}

.card {
    height: 100%;
    background-color: var(--dis-card);
}

.final_cont {
    background-color: var(--dis-cont);
    height: 600px;
}

/* #endregion Main */